@import 'https://fonts.googleapis.com/css?family=Alegreya+Sans';

*{
  margin:0;
  padding:0;
  border:0;
}

body {
    background: #f5f5f5;
    color: #67727A;
    font-family: 'Alegreya',sanserif;
    margin:0;
}

h2{
    font-size:250%;
    font-weight:700;
    text-align:center;
    padding-top:2%;
}

h3{
    font-size:160%;
    line-height:155%;
    padding: 5%;
    font-weight: 400;
}

p{
    font-size:160%;
    line-height: 150%;
    padding: 3%;
    text-indent: 2%;
    text-align: justify;
    
}

img{
    max-width:100%;
    width:auto;
    height: auto;
    margin-bottom: -4px;
    
}

header {
    background-color: #2170ef ;
    width:100%;
    height: 110px;
}

#header-inner {
    margin: 0 auto;
}

#logo {
    margin:35px 0 0 60px;
    float: left;
    width: 62px;
    height:70px;
    background: url(img/RD.png) no-repeat center;
    padding-left: 36px;   
}

 
nav {
    float:right;
    padding: 25px 0 0 0 ;
}

#menu-icon {
    display: none;
    width:155px;
    height:60px;
    background: url(img/nav.png) no-repeat center;
    float:right;
}

/*-- ENd of header --*/

a:hover#menu-icon{
    border-radius: 4px 4px 0 0 ;
}

ul{
    list-style-type: none
}

nav ul li {
    font-family:'Alegereya sans',sans-serif;
    font-size:150%;
    display:inline-block;
    padding:10px;
}

nav ul li a {
    color:#F5f5f5;
    text-decoration: none;
}

nav ul li a:hover{
    color:aquamarine;
}

.banner{
    background-color: #2170ef;
}

.banner-inner{
    margin: 0 auto;
    max-width: 1100 px;
}

.one-fourth{
    width: 25%;
    float:left;
    text-align: center;
}

#html{
    background-color: chocolate;
}

#css{
    background-color:beige ;
}

#ceo{
    background-color: darkgray;
}

#search{
    background-color: aliceblue;
}

.one-fourth i{
    font-size:500%;
    padding-top: 30px;
    
}

.inner-wrapper{
    float:left;
    background-color: #7da0d8 ;
}

article{
    float: left;
    width: 50%;
    height: auto;
    margin:0 auto;
}

aside{
    float: right;
    width: 50%;
    height: auto;
    margin:0 auto;
}

#tablet{
    background-color: aquamarine;
}

#tablet2{
    background-color: #7da0d8;
}

.inner-wrapper1{
    float:left;
    background-color: #7da0d8;
}

article{
    float: left;
    width: 50%;
    height: auto;
    margin:0 auto;
}

aside{
    float: right;
    width: 50%;
    height: auto;
    margin:0 auto;
}

#mobile2{
    background-color: aquamarine;
}

#mobile{
    background-color: #7da0d8;
}

.inner-wrapper2{
    float:left;
    background-color: #7da0d8;
}

article{
    float: left;
    width: 50%;
    height: auto;
    margin:0 auto;
}

aside{
    float: right;
    width: 50%;
    height: auto;
    margin:0 auto;
}

#desktop{
    background-color: aquamarine;
}

#desktop2{
    background-color: #7da0d8;
}

.inner-wrapper-3{
    float: left;
    background-color: beige;
    width:100%;
}

.one-third{
    width: 33.333333%;
    float:left;
    text-align: center;
}

#marketing{
    background-color: coral;
}

#smiley{
    background-color: aliceblue;
}

.social{
    text-align: center;
    float:left;
    width:100%;
    background-color: #2170ef;
}

footer ul li a {
    width: 25%;
    float: left;
    font-size: 180px;
    color: white;
}

footer ul li a:hover {
    color: aquamarine;
}

.second{
    width:100%;
    background-color: #625f5f;
    text-align: center;
    
}

.second p{
    padding-top: 50px;
    text-align: center;
}

/* Media querries are now stating */

@media screen and (max-width:760px){
    h1{
        font-size:150%;
    }
    
    h3{
        font-size:125%;
    }
    
    p{
        font-size:120%;
    }
    
    header{
        position:absolute;
    }
    
    #logo{
        background: url(img/RD_mobile.png);
        background-repeat: no-repeat;
    }
    
    #menu-icon{
        display: inline-block;
    }
    
    nav ul ,nav:active ul {
        display:none; 
        z-index: 1000;
        position:absolute;
        padding:20px;
        background-color: blue;
        right:20px;
        top:60px;
        border:1px solid white;
        border-radius: 20px 0 2px 2px;
        width:50%;
    } 


    nav:hover ul{
        display:block;
    }

    nav ul li {
        width:100%;
        text-align: center;
    }
    
    .banner{
        padding-top: 100px;
    }
    
    .one-fourth{
        width:100%;
    }
    
    .one-fourth i {
        font-size:300%;
        width:100%;
            
    }

    article{
        width:100%
    }    
    
    aside{
        width:100%;
    }
    .one-third{
        width:100%;
    }
    
    .social i {
        font-size:180%;
    }
    
}

























